html {
    box-sizing: border-box;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-size: 90px;
}

body > div:first-child p {
    font-size: 40px;
    font-weight: 400;
}

table {
    width: 700px;
    font-size: 20px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.new-book {
    font-weight: 300;
    font-size: 20px;
    width: 200px;
    color: #F0F8FF;
    background-color: #3B82F6;
    border: none;
}

button {
    width: 100px;    
}

tr {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog-div > div {
    align-self: flex-end;
    cursor: pointer;
}